---
import Layout from "@/layouts/Layout.astro";
import bg from "@/assets/bg_404.jpg";

---
<Layout
    title="Página no encontrada"
    subtitle="Lo sentimos, la página que buscas no existe."
    bgImage={bg.src}>

    <p class="text-center text-lg">
        Tal vez quieras volver al {" "}
        <a href="/" class="text-coffee-600 font-bold">inicio</a>
    </p>
</Layout>